.job-header {

}

.job-whole-wrapper {
    padding:0.5rem;
}
.job-card-wrapper {
    display: flex;
    flex-direction: row; 
    align-items: center;
 }

.job-card-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.job-icon {
    font-size: 6rem;
}
.job-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-filter-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}